body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  padding: 24px 32px 24px 32px;
}

a:focus {
  outline: 0;
}

.links {
  color: #101828;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-tag {
  padding: 24px 32px 24px 32px;
  margin: 12px 0 12px;
  border: 1px solid #eaecf0;
  background: #eaecf0;
  width: 349px;
  border-radius: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px 0;
  margin-top: 24px;
}

.icon {
  margin: 0 13.38px 0;
  font-size: 26px;
}

#profile__img {
  height: 125px;
  width: 125px;
  border-radius: 75%;
  border: 2px solid #94969c;
}

.pfp {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 60px 0 4px;
}

.menu-share {
  text-align: end;
  padding-right: 10%;
}

.iconrct {
  color: #94969c;
  border: 1px dashed #94969c;
  border-radius: 50%;
  padding: 5px;
  font-size: 1.6em;
}

.share {
  display: none;
}

.zuri {
  width: 108px;
}

.footer-text {
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}

.top {
  padding: 5px 0;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #eaecf0;
  margin: 0 1.4em;
  padding: 25px 0 0 0;
}

.I4G {
  width: 86px;
}

.line {
  background: #667085;
}

.footer-cont {
  padding: 32px 0;
}

button.ui.button.btn-submit {
  width: 100%;
  background: #1570ef;
  padding: 1.3em;
  color: #fff;
  border: 1px solid #1570ef;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

#supporting-text {
  font-size: 18px;
  line-height: 28px;
  color: #475467;
}

::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #667085;
  inline-size: auto;
}

#errs {
  color: red;
  padding-top: 1px;
}

input,
textarea {
  font-size: 16px;
}

input:focus,
textarea:focus {
  font-size: 16px;
}

.ui.checkbox {
  margin: 24px 0 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.ui.checkbox .box,
.ui.checkbox label {
  font-weight: 400;
  font-size: 1.21em;
  line-height: 24px;
  color: #475467;
}

#heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
}

.contact-form {
  margin: 64px 18px 0;
}

#forms {
  margin-top: 48px;
}

.ui.fluid.input {
  border: 1px solid #d0d5dd;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border-radius: 8px;
}

.ui.form.textarea {
  border: 1px solid #d0d5dd;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border-radius: 8px;
}

@media (max-width: 280px) {
  .link-tag {
    width: 288px;
    padding: 24px 0 24px 0;
    font-size: 12px;
  }
}

@media (min-width: 281px) and (max-width: 359px) {
  .link-tag {
    width: 270px;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .link-tag {
    width: 315px;
  }
}

@media (min-width: 375px) and (max-width: 389px) {
  .link-tag {
    width: 335px;
  }
}

@media (min-width: 412px) and (max-width: 539px) {
  .link-tag {
    width: 364px;
  }

  .contact-form {
    margin: 64px 28px 0;
  }
}

@media (min-width: 540px) and (max-width: 640px) {
  .link-tag {
    width: 437px;
  }
}

@media (min-width: 641px) and (max-width: 819px) {
  .link-tag {
    width: 540px;
  }

  .share {
    display: block;
    font-size: 25px;
  }

  .menu {
    display: none;
  }

  .logo-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5.2em;
  }

  .contact-form {
    margin: 64px 120px 0;
  }
}

@media (min-width: 820px) and (max-width: 911px) {
  .link-tag {
    width: 574px;
  }

  .logo-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5.9em 0;
  }

  .share {
    display: block;
    font-size: 25px;
  }

  .menu {
    display: none;
  }

  .contact-form {
    margin: 64px 135px 0;
  }
}

@media (min-width: 912px) and (max-width: 1023px) {
  .link-tag {
    width: 659px;
  }

  .logo-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 6em;
  }

  .share {
    display: block;
    font-size: 25px;
  }

  .menu {
    display: none;
  }

  .contact-form {
    margin: 64px 160px 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .link-tag {
    width: 723px;
  }

  .logo-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 7.5em;
  }

  .share {
    display: block;
    font-size: 25px;
  }

  .menu {
    display: none;
  }

  .contact-form {
    margin: 64px 260px 0;
  }
}

@media (min-width: 1280px) {
  .link-tag {
    width: 969px;
  }

  .logo-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 7.8em;
  }

  .share {
    display: block;
    font-size: 25px;
  }

  .menu {
    display: none;
  }

  .contact-form {
    margin: 64px 300px 0;
  }
}
