body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #101828;
  padding: 24px 32px 24px 32px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-tag {
  padding: 24px 32px 24px 32px;
  margin: 12px 0px 12px;
  border: 1px solid #EAECF0;
  background: #EAECF0;
  width: 290px;
  border-radius: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  margin: 0 13.38px 0;
  font-size: 20px;
}

@media (max-width: 280px) {
  .link-tag {
    width: 263px;
    padding: 24px 0px 24px 0px;
  }
}

@media (min-width: 281px) and (max-width: 359px) {
  .link-tag {
    width: 270px;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .link-tag {
    width: 266px;
  }
}

@media (min-width: 375px) and (max-width: 389px) {
  .link-tag {
    width: 266px;
  }
}

@media (min-width: 412px) and (max-width: 539px) {
  .link-tag {
    width: 311px;
  }
}

@media (min-width: 540px) and (max-width: 640px) {
  .link-tag {
    width: 437px;
  }
}

@media (min-width: 641px) and (max-width: 819px) {
  .link-tag {
    width: 660px;
  }
}

@media (min-width: 820px) and (max-width: 911px) {
  .link-tag {
    width: 716px;
  }
}

@media (min-width: 912px) and (max-width: 1023px) {
  .link-tag {
    width: 800px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .link-tag {
    width: 916px;
  }
}

@media (min-width: 1280px) {
  .link-tag {
    width: 1160px;
  }
}